h1, p {
  background-color: #dde0e3; /* light gray */
}

em, strong {
  background-color: #b2d6ff; /* light blue */
  display: inline; /* This is the default for em and strong */
}

h1 {
  padding: 50px;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
